<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>	
  <%= favicon_link_tag 'jv.png', type: "image/x-icon" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='container'>
	<%= render 'layouts/header' %>
	
	<%= yield %>

</div> <!-- /container -->

<%= render 'layouts/footer' %>

<!-- Disqus comment counts -->
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'juvern'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script> <!-- /Disqus comment -->


</body>
</html>
